
.dropdown-menu li a{
    
    font-weight: 100;
}
.multi-column-dropdown {
    list-style: inherit;
}
multi-column-dropdown li a {
    display: block;
    clear: inherit;
    line-height: 1.428571429;
   
    white-space: normal;
}


@media (max-width: 767px) {
    .dropdown-menu.multi-column {
        min-width: 240px !important;
        overflow-x: hidden;
    }
}

    
  
dropdown-menu li a{
    font-weight: 100;
}
multi-column-dropdown {
  position: relative;
    width: inherit;
    margin-bottom: 24px;
    font-size: 18px;
    color: #414141;
    letter-spacing: -0.02em;
    font-family: helvetica, sans-serif;
    font-weight: 100;
    line-height: 1.5;
   
}
    multi-column-dropdown:after {
    position: absolute;
        width:inherit;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    font-family: 'HelveticaNeue-Thin', helvetica, sans-serif;
    font-weight: 100;
    color: #fff;
    font-size: 30px;
    line-height: 50px;
    background-color: #353535;


@media (max-width: 767px) {
    .dropdown-menu.multi-column {
        overflow-x: hidden;
    }
}  