/**
 * Masthead
 * -------------------------------------------------------------------------- */
html {
    -webkit-font-smoothing: antialiased;
}
.masthead {
    position: absolute;
    z-index: -1;
    min-width: 720px;
}
.masthead-video {
    z-index: 0;
}
.masthead-overlay {
    background-color: #000;
    opacity: 0.4;
    position: relative;
    top: 0; left: 0;
    bottom: 0; right: 0;
    width: 100%;
    height: 100%;
}
th {
    text-align: right;
}
.masthead-video-credit {
    position: relative;
    bottom: 0;
    right: 0;
    color: #fff;
    opacity: 0.4;
    font-family: 'HelveticaNeue-Light', helvetica, sans-serif;
    font-weight: 100;
    letter-spacing: 0.04em;
    font-size: 12px;
    padding-right: 10px;
    bottom: 10px;
    text-decoration: none;
    text-align: right;
    line-height: 1.5;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    transition: 0.2s ease all;
}
.masthead-video-credit span {
    display: block;
}
.masthead-video-credit:hover {
    opacity: 0.7;
}

.masthead-arrow {
    position: relative;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 50px;
    height: 50px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    opacity: 0.4;
}
container row {
    position: relative;
    top: 7em;
    left: 5em;
    
}
h1 {
    text-align: right;
    position: relative;
    top: 7em !important;
    width: 100%;
    font-family: 'HelveticaNeue-UltraLight', helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: -0.06em;
    font-size: 120px;
    text-align: center;
    height: 120px;
    line-height: 1;
    top: 0;
    bottom: 0;
    
    color: #fff;
    opacity: 0.4;
    
}
h1 span {
    display: block;
    top: 5em;
    font-size: 24px;
    letter-spacing: 5px;
    font-family: 'HelveticaNeue-Thin', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    padding-left: 30px;
    color:antiquewhite;
    padding-top: 7em;
    position: relative;
}
h2 {
    text-align: right;
    margin-top: 5em;
    margin-bottom: 10px;
    font-size: 40px;
    letter-spacing: -0.05em;
    color: #0067B1 !important;
    opacity: .5;
    position: relative;
}
p {
    text-align: center;
    top: 6em;
    margin-bottom: 30px;
    font-size: 18px;
    color: #0067B1!important;
    letter-spacing: -0.02em;
    font-family: helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    opacity: .5;
    
a {
    color: #1191db !important;
    text-decoration: none;
}
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
ol li {
    background-color: #0067b1;
    position: relative;
    top: 5em;
    margin-bottom: 24px;
    font-size: 18px;
    color: #88bad4 !important;
    letter-spacing: -0.02em;
    font-family: helvetica, sans-serif;
    font-weight: 100;
    line-height: 1.5;
    padding-left: 70px;
}
ol li:after {
    position: relative;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    font-family: 'HelveticaNeue-Thin', helvetica, sans-serif;
    font-weight: 100;
    color: #aaeeee !important;
    font-size: 30px;
    line-height: 50px;
    background-color: #4a4444 !important;
}
ol li:nth-child(1):after {
    content: '1';
}
ol li:nth-child(2):after {
    content: '2';
}
ol li:nth-child(3):after {
    content: '3';
}
ol li:nth-child(4):after {
    content: '4';
}
        @media screen and (max-width: 991px){
    .columns{
        width: 100%;
        height: 100%;
        overflow:hidden;
    }
}

@media screen and (min-width: 992px){
    .columns{
        -moz-column-count:2; /* Firefox */
        -webkit-column-count:2; /* Safari and Chrome */
        column-count:2;
        width: 100%;
    }
code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    background: #f7f7f7;
    padding: 4px;
    border-radius: 6px;
    font-size: 0.9em;
}
pre {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 14px;
    background: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    line-height: 1.4;
}
pre .s {
    color: #d14;
}
pre .na {
    color: #008080;
}
pre .nt {
    color: #000080;
}
pre .s {
    color: #d14;
}
pre .nc {
    color: #445588;
}
pre .m {
    color: #009999;
}
content {
    padding-top: 60px;
}
container {
    margin: auto;
    width: 720px;
}
footer {
    text-align: right;
    margin-top: 60px;
    padding-bottom: 60px;
}
footer hr {
    margin: 0;
    border: none;
    border-top: 1px solid #ddd;
    margin-bottom: 30px;
}
